.bg-image {
  background-size: cover;
  background-position: center;
}
.backdrop {
  backdrop-filter: blur(5px);
}
.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 170.93333333333334,140.66666666666669 341.8666666666667,141.33333333333334 492,137 C 642.1333333333333,132.66666666666666 771.4666666666667,123.33333333333333 926,123 C 1080.5333333333333,122.66666666666667 1260.2666666666667,131.33333333333334 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 120.53333333333336,149.33333333333331 241.06666666666672,158.66666666666666 401,168 C 560.9333333333333,177.33333333333334 760.2666666666667,186.66666666666669 940,182 C 1119.7333333333333,177.33333333333331 1279.8666666666668,158.66666666666666 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 135.33333333333331,132.39999999999998 270.66666666666663,124.79999999999998 426,132 C 581.3333333333334,139.20000000000002 756.6666666666667,161.20000000000002 929,165 C 1101.3333333333333,168.79999999999998 1270.6666666666665,154.39999999999998 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 165.7333333333333,126 331.4666666666666,112 477,110 C 622.5333333333334,108 747.8666666666668,118 905,125 C 1062.1333333333332,132 1251.0666666666666,136 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 170.93333333333334,140.66666666666669 341.8666666666667,141.33333333333334 492,137 C 642.1333333333333,132.66666666666666 771.4666666666667,123.33333333333333 926,123 C 1080.5333333333333,122.66666666666667 1260.2666666666667,131.33333333333334 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 195.7333333333333,299.8666666666667 391.4666666666666,319.7333333333333 549,327 C 706.5333333333334,334.2666666666667 825.8666666666668,328.93333333333334 968,319 C 1110.1333333333332,309.06666666666666 1275.0666666666666,294.5333333333333 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 139.46666666666664,250.39999999999998 278.9333333333333,220.79999999999998 450,229 C 621.0666666666667,237.20000000000002 823.7333333333333,283.2 994,298 C 1164.2666666666667,312.8 1302.1333333333332,296.4 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 165.33333333333331,311.20000000000005 330.66666666666663,342.40000000000003 503,330 C 675.3333333333334,317.59999999999997 854.6666666666667,261.59999999999997 1012,246 C 1169.3333333333333,230.40000000000003 1304.6666666666665,255.20000000000002 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 183.46666666666664,280.8 366.9333333333333,281.6 544,272 C 721.0666666666667,262.4 891.7333333333333,242.39999999999998 1040,242 C 1188.2666666666667,241.60000000000002 1314.1333333333332,260.8 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 195.7333333333333,299.8666666666667 391.4666666666666,319.7333333333333 549,327 C 706.5333333333334,334.2666666666667 825.8666666666668,328.93333333333334 968,319 C 1110.1333333333332,309.06666666666666 1275.0666666666666,294.5333333333333 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 124.80000000000001,428.5333333333333 249.60000000000002,437.06666666666666 414,439 C 578.4,440.93333333333334 782.4000000000001,436.26666666666665 960,432 C 1137.6,427.73333333333335 1288.8,423.8666666666667 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 185.0666666666666,431.8666666666667 370.1333333333332,443.7333333333333 542,448 C 713.8666666666668,452.2666666666667 872.5333333333335,448.93333333333334 1020,443 C 1167.4666666666665,437.06666666666666 1303.7333333333331,428.5333333333333 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 117.46666666666664,420.4 234.93333333333328,420.8 408,416 C 581.0666666666667,411.2 809.7333333333333,401.20000000000005 991,401 C 1172.2666666666667,400.79999999999995 1306.1333333333332,410.4 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 194.93333333333334,419.3333333333333 389.8666666666667,418.66666666666663 565,409 C 740.1333333333333,399.33333333333337 895.4666666666667,380.6666666666667 1038,381 C 1180.5333333333333,381.3333333333333 1310.2666666666667,400.66666666666663 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 124.80000000000001,428.5333333333333 249.60000000000002,437.06666666666666 414,439 C 578.4,440.93333333333334 782.4000000000001,436.26666666666665 960,432 C 1137.6,427.73333333333335 1288.8,423.8666666666667 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
}

.path-3 {
  animation: pathAnim-3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-3 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 153.7333333333333,541.5999999999999 307.4666666666666,523.1999999999999 457,527 C 606.5333333333334,530.8000000000001 751.8666666666666,556.8000000000001 915,566 C 1078.1333333333334,575.1999999999999 1259.0666666666666,567.5999999999999 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 127.19999999999993,576.8 254.39999999999986,593.6 429,582 C 603.6000000000001,570.4 825.6000000000001,530.4 1002,522 C 1178.3999999999999,513.6 1309.1999999999998,536.8 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 177.46666666666664,568 354.9333333333333,576 533,580 C 711.0666666666667,584 889.7333333333333,584 1041,580 C 1192.2666666666667,576 1316.1333333333332,568 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 162.93333333333334,566 325.8666666666667,572 498,566 C 670.1333333333333,560 851.4666666666667,542 1010,539 C 1168.5333333333333,536 1304.2666666666667,548 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 153.7333333333333,541.5999999999999 307.4666666666666,523.1999999999999 457,527 C 606.5333333333334,530.8000000000001 751.8666666666666,556.8000000000001 915,566 C 1078.1333333333334,575.1999999999999 1259.0666666666666,567.5999999999999 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
}

/* how much time worth section  */

/* === removing default button style ===*/
#getStarted {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

#getStarted #get-svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

#getStarted #get-span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

#getStarted:hover #get-svg {
  transform: translateX(5px) rotate(90deg);
}

#getStarted:hover #get-span {
  transform: translateX(7px);
}
